<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">

<% title = controller.respond_to?('title') ? controller.title : 'Administración' -%>
<% app_name = controller.respond_to?('app_name') ? controller.app_name : 'administrate_me' -%>
<% owner = controller.respond_to?('owner') ? controller.owner : 'nobody' -%>

<html>
  <head>
     <title><%= title %> :: <%= app_name %></title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />     

     <% if respond_to?('bundle') -%>
       <% bundle :name => :admin_me do -%>
         <%= admin_file_loader %>
       <% end -%>
     <% else -%>
       <%= admin_file_loader %>
     <% end -%>
     
  </head>
  <body>
    <div id="doc3" class="yui-t4">
       <div id="hd">
         
         <div id="titles">
           <span><%= owner %></span> > <%= app_name %>
         </div>

         <%= render :partial => 'commons/session' %>      

         <div style="clear:both"></div>

         <div id="navigation">
           <%= generate_navigation %>
         </div>
       </div>
       <div id="bd">
            <div id="yui-main">
              <div class="yui-b">
                <div class="yui-g">

                  <%= render(:partial => 'commons/flasher') if flash[:notice] || flash[:error] %>
                  
                  <%=  render :partial => resource_context_path if @parent %>                  

                  <div id="shadow-container">
                    <div class="shadow1">
                      <div class="shadow2">
                        <div class="shadow3">
                          <div id="paper_sheet">            
                            <div id="content" class="container">                                
                              <%= yield %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="yui-b">
              <div id="support">
                <%= yield :support %>
                <%= yield :extras %>
              </div>
            </div>

            </div>
       <div id="ft">
         powered by <%= link_to 'ruby on rails', 'http://www.rubyonrails.org', :target => '_blank' %>
         & <%= link_to 'administrate_me', 'http://github.com/insignia/administrate_me', :target => '_blank' %>
       </div>
    </div>
  </body>
</html>
